<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="col-lg-4" style="background-color: orange,">
            <h2>sidebar</h2>
            <table class="table">
             <thead>
             <tr>
      <th scope="row">1</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
    </tr>
             </thead>
            </table>
        </div>
        <div class="col-lg-8">
            <h2>Bookes</h2>
            <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>
        </div>
    </div>
</div>