<div>
 <% if @user.id == current_user.id %>
    <div class="mt-auto">
    <p><%= link_to "プロフィール編集", edit_user_path(@user), class:"text-dark" %></p>
    </div>
  <% end %>

</div>

<!-- ユーザーの投稿一覧 -->
