<p id="notice">
    <div class="container">
        <div class="row">
            <h1>Welcome to  <%= fa_icon("book") %> <strong>Bookers!!</strong></h1>
            <li><a class="fas fa-home nav-link text-dark" href="/"> Home</a></li>
        </div>
    </div>
</p>
